.o-superWrapper{
    width: 100%;
    min-height: 100%;
    min-width: 320px;
}

.o-wrapper {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left:  auto;
    position: relative;
}
