// Color palette
$color-brand:               #008C85;
$color-brand-highlight:     #0C332F;
$color-brand-shadow:        darken($color-brand, 15%);

$color-secondary:           #8C6300;
$color-secondary-highlight: lighten($color-secondary, 15%);
$color-secondary-shadow:    darken($color-secondary, 15%);

$color-gray:            #666;
$color-gray-light:      #ccc;
$color-gray-dark:       #333;
$color-light-blue:      #E4EFEE;
$color-white:           #FBFBF6;
$color-black:           #000000;

$color-highlight:       rgba(255, 255, 255, 0.05);
$color-shadow:          rgba(0, 0, 0, 0.05);

// UI
$color-ui:          $color-brand;

// Text
$color-text:        $color-brand-highlight;

// Links
$color-link:        $color-secondary;
$color-link-hover:  $color-secondary-shadow;

// Buttons
$color-btn:                 $color-brand;
$color-btn-hover:           $color-brand-shadow;
$color-btn-hollow:          $color-white;
$color-btn-hollow-hover:    $color-brand;
