{{> html_start }}

    <body>
        <!-- Add your site or application content here -->
        <div class="o-superWrapper">
            <div class="o-wrapper">
                {{> masthead }}

                {{> body }}

                {{> footer }}
            </div>
        </div>

{{> html_end }}
